.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 20px;
}

@media (max-width: 1600px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}
.one {
    grid-column: span 2;
    width: 100%;
}

.one img {
    width: 100%;
}

hr {
    grid-column: span 2;
}

.image {
    grid-column: span 1;
}

.image img, video {
    width: 100%;
    aspect-ratio: 16/9;
}


